language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
  - pip install coverage

script:
   - coverage run -m unittest discover -s test -p "x*.py"

after_success:
  - codecov
